<h2>Users</h2>
    <table class="table">
    <thead>
    <tr>
    <td>Name</td>
    <td>Phone</td>
    <td>Date_visit</td>
    <td>barber</td>
    <td>Color</td>
    </tr>
    </thead>
    <tbody>
    <%=@results%>
        <% @results.each do |row| %>
            <tr>
                <td><%= row['client'] %></td>
                <td><%= row['phone'] %></td>
                <td><%= row['data_visit'] %></td>
                <td><%= row['barber'] %></td>                                       
                <td style="background-color: <%=row['color']%>"><%= row['color'] %></td>
            </tr>

        <% end %>
        </tbody>
      
    </table>